<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite guice-stage="DEVELOPMENT" name="Default suite">
	<test verbose="2" name="Default test">
		<classes>
			<class name="com.sol.testutil.arrayutils">
				<methods>
					<include name="testRegularArray" />
					<include name="testEmptyArray" />
					<include name="testNull" />
					<include name="testRegularArrayWithPositiveLength" />
					<include name="testRegularArrayWithZeroLength" />
					<include name="testRegularArrayWithNegativeLength" />
					<include name="testEmptyArrayWithPositiveLength" />
					<include name="testEmptyArrayWithZeroLength" />
					<include name="testEmptyArrayWithNegativeLength" />
					<include name="testNullWithPositiveLength" />
					<include name="testNullWithZeroLength" />
					<include name="testNullWithNegativeLength" />
				</methods>
			</class>
		</classes>
	</test> <!-- Default test -->
</suite> <!-- Default suite -->